{% extends 'base_login.html' %} {% block login %}

<!-- !Homepage! -->
<div class='clx'>
    <a href="/student_login" class="btn btn-outline-success btn-lg btn-block" role="button">STUDENT LOGIN PAGE</a>
    <a href="/teacher_login" class="btn btn-outline-info btn-lg btn-block" role="button">TEACHER LOGIN PAGE</a>
    <a href="/admin_login" class="btn btn-outline-danger btn-lg btn-block" role="button">ADMIN LOGIN PAGE</a>
    <a href="/sign_up" class="btn btn-outline-warning btn-lg btn-block" role="button">STUDENT SIGN UP PAGE</a>
</div>


{% endblock %}